<div class="container-fluid">
  <h2 class="text-center">Search for a Github user</h2>
  <p>Use this page to search for a github user.</p>
  <hr />
  <form (ngSubmit)="submitUser()" #userForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="newUser.name"
        name="name"
        #name="ngModel"
        required
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Username is required !!</p>
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="userForm.reset()">
      Search
    </button>
  </form>
</div>
